html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #3c8dbc	;
    margin-bottom: 60px;
    padding: 5px 0px;
}

footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#headerimg{
	background-color: #fff;
	width:100%;
}

.container .row:first-child {
	padding: 10px 0px;
    margin-bottom: 60px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    margin-bottom: 10px;
}

.form-control, .form-control:focus {
    border-radius: 3px;
    box-shadow: none;
}

.help-block {
    font-size: 13px;
}

.form-box, .message-box {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 40px;
}

.message-box {
    padding: 80px 40px 40px;
}

.message-box .success-icon i:first-child{
    color: #5CB85C;
}

.message-box .failed-icon i:first-child{
    color: #D9534F;
}

.message-box .fa-stack i:last-child{
    font-size: 38px;
}

.message-box h1 {
    margin: 40px;
}

.message-box h1 + h2 {
    margin-bottom: 60px;
    line-height: 1.4;
}
