<span style='color: #000'>294 frames</span>	<span style='color: #900'>22,528 KB</span>	<span style='color: #090'>1,221.60 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />